{# https://symfony.com/doc/current/controller/error_pages.html #}
{# https://blog.syntaxseed.com/custom-error-pages-in-symfony-framework/ #}
{% extends 'base.html.twig' %}

{% block body %}
    <h1>error occurred!</h1>

    <p>
        The requested page couldn't be located. Checkout for any URL
    </p>
{% endblock %}
